@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  transition: background-color 0.3s, color 0.3s;
}
/* Global App Styles */

body {
  margin: 0;
  background-color: #0f172a;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}